<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kc.demo.dao.ComAnswerMapper" >
    <resultMap id="BaseResultMap" type="com.kc.demo.model.ComAnswer" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="userId" property="userid" jdbcType="INTEGER" />
        <result column="questionTypeId" property="questiontypeid" jdbcType="INTEGER" />
        <result column="questionStatus" property="questionstatus" jdbcType="INTEGER" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="location" property="location" jdbcType="VARCHAR" />
        <result column="collectionedCounts" property="collectionedcounts" jdbcType="INTEGER" />
        <result column="praiseCount" property="praisecount" jdbcType="VARCHAR" />
        <result column="treadCount" property="treadcount" jdbcType="VARCHAR" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="topicId" property="topicid" jdbcType="INTEGER" />
        <result column="comQuestionId" property="comquestionid" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="ResultMapForFollowAnswer" type="com.kc.demo.model.ComAnswer" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="nickName" property="nickname" jdbcType="VARCHAR" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="headImageUrl" property="headimageurl" jdbcType="VARCHAR"/>
        <result column="questionId" property="questionid" jdbcType="INTEGER" />
        <result column="questionTitle" property="questiontitle" jdbcType="VARCHAR"/>
        <result column="questionContent" property="questioncontent" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id, comQuestionId, userId, title, content, createTime, ip, location,
    questionStatus, questionTypeId, collectionedCounts
    praiseCount, treadCount, topicId
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_community_answer
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectPraiseCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id,praiseUserIds,praiseCount
    from tb_community_answer
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectTreadCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id,treadUserIds,treadCount
    from tb_community_answer
    where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectPraiseTreadCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        id,userId,praiseCount,treadCount,collectionedCounts
        from tb_community_answer
        where id = #{id,jdbcType=INTEGER}
        for update
   </select>
    <select id="selectByComQuestionId" resultMap="ResultMapForFollowAnswer" parameterType="java.lang.Integer" >
      select a.id id,
       a.userId userId,
       a.content content,
       a.title title,
       a.createTime createTime,
       a.location location,
       a.praiseCount praiseCount,
       a.treadCount treadCount,
       b.id questionId,
       b.title questionTitle,
       b.content questionContent,
       c.nickName nickName,
       c.headImageUrl headImageUrl
       from tb_community_answer a left join tb_community_question b on a.comQuestionId = b.id
       left join tb_user_info c on a.userId = c.id
       where a.comQuestionId = #{comquestionid,jdbcType=INTEGER}
    </select>
    <select id="selectByComAnswerId" resultMap="ResultMapForFollowAnswer" parameterType="java.lang.Integer" >
      select a.userId userId,
       a.content content,
       a.title title,
       a.createTime createTime,
       a.location location,
       a.praiseCount praiseCount,
       a.treadCount treadCount,
       b.id questionId,
       b.title questionTitle,
       b.content questionContent
       from tb_community_answer a left join tb_community_question b
       on a.comQuestionId = b.id
       where a.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_community_answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.kc.demo.model.ComAnswer" >
    insert into tb_community_answer (id, comQuestionId, userId, title, content, createTime, ip, location,
    questionStatus, questionTypeId, collectionedCounts,
    praiseCount, treadCount, topicId)
    values (#{id,jdbcType=INTEGER}, #{comquestionid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, now(),
      #{ip,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{questionstatus,jdbcType=VARCHAR},
      #{questiontypeid,jdbcType=DECIMAL}, #{collectionedcounts,jdbcType=INTEGER},
      #{praisecount,jdbcType=VARCHAR}, #{treadcount,jdbcType=DECIMAL},
      #{topicid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.kc.demo.model.ComAnswer" >
        insert into tb_community_answer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="comquestionid != null" >
                comquestionid,
            </if>
            <if test="userid != null" >
                userId,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="createtime != null" >
                createTime,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="location != null" >
                location,
            </if>
            <if test="questionstatus != null" >
                questionStatus,
            </if>
            <if test="questiontypeid != null">
                questionTypeId,
            </if>
            <if test="collectionedcounts != null">
                collectionedCounts,
            </if>
            <if test="praisecount != null" >
                praiseCount,
            </if>
            <if test="treadcount != null" >
                treadCount,
            </if>
            <if test="topicid != null" >
                topicId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="comquestionid != null" >
                #{comquestionid,jdbcType=INTEGER},
            </if>
            <if test="userid != null" >
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                now(),
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="location != null" >
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="questionstatus != null" >
                #{questionstatus,jdbcType=VARCHAR},
            </if>
            <if test="questiontypeid != null">
                #{questiontypeid,jdbcType=DECIMAL},
            </if>
            <if test="collectionedcounts != null">
                #{collectionedcounts,jdbcType=INTEGER},
            </if>
            <if test="praisecount != null" >
                #{praisecount,jdbcType=VARCHAR},
            </if>
            <if test="treadcount != null" >
                #{treadcount,jdbcType=DECIMAL},
            </if>
            <if test="topicid != null" >
                #{topicid,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kc.demo.model.ComAnswer" >
        update tb_community_answer
        <set >
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="userid != null" >
                userId = #{userid,jdbcType=INTEGER},
            </if>
            <if test="questiontypeid != null" >
                questionTypeId = #{questiontypeid,jdbcType=INTEGER},
            </if>
            <if test="questionstatus != null" >
                questionStatus = #{questionstatus,jdbcType=INTEGER},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="location != null" >
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="collectionedcounts != null" >
                collectionedCounts = #{collectionedcounts,jdbcType=INTEGER},
            </if>
            <if test="praisecount != null" >
                praiseCount = #{praisecount,jdbcType=DECIMAL},
            </if>
            <if test="treadcount != null" >
                treadCount = #{treadcount,jdbcType=DECIMAL},
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>


            <if test="topicId != null" >
                parentId = #{topicid,jdbcType=INTEGER},
            </if>
            <if test="comquestionid != null" >
                comQuestionId = #{comquestionid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>