<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kc.demo.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.kc.demo.model.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="articleId" property="articleid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="praiseUserIds" property="praiseuserids" jdbcType="VARCHAR" />
    <result column="praiseCount" property="praisecount" jdbcType="DECIMAL" />
    <result column="treadUserIds" property="treaduserids" jdbcType="VARCHAR" />
    <result column="treadCount" property="treadcount" jdbcType="DECIMAL" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapForFollowComment" type="com.kc.demo.model.Comment" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="nickName" property="usernickname" jdbcType="VARCHAR" />
    <result column="headImageUrl" property="userheadimageurl" jdbcType="VARCHAR"/>
    <result column="nickName" property="parentnickname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, articleId, userId, content, createTime, status, ip, location, praiseUserIds, 
    praiseCount, treadUserIds, treadCount, parentId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectPraiseCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id,praiseUserIds,praiseCount
    from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTreadCount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id,treadUserIds,treadCount
    from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCommentListByparentId" resultMap="ResultMapForFollowComment" parameterType="com.kc.demo.model.Comment">
    select
    a.id id,
    a.articleId articleid,
    a.userId userid,
    a.content content,
    a.createTime createtime,
    a.praiseUserIds praiseuserids,
    a.praiseCount praisecount,
    a.treadUserIds treaduserids,
    a.treadCount treadcount,
    a.parentId parentid,
    b.nickName usernickname,
    b.headImageUrl userheadimageurl,
    c.nickName parentnickname
    from tb_comment a left join tb_user_info b on a.userId = b.id
    left join tb_user_info c on a.parentId = c.id
    where a.id = #{id,jdbcType=INTEGER} and a.parentId = #{parentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kc.demo.model.Comment" >
    insert into tb_comment (id, articleId, userId, 
      content, createTime, status, 
      ip, location, praiseUserIds, 
      praiseCount, treadUserIds, treadCount, 
      parentId)
    values (#{id,jdbcType=INTEGER}, #{articleid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, now(), #{status,jdbcType=INTEGER},
      #{ip,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{praiseuserids,jdbcType=VARCHAR}, 
      #{praisecount,jdbcType=DECIMAL}, #{treaduserids,jdbcType=VARCHAR}, #{treadcount,jdbcType=DECIMAL}, 
      #{parentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kc.demo.model.Comment" >
    insert into tb_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleid != null" >
        articleId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="praiseuserids != null" >
        praiseUserIds,
      </if>
      <if test="praisecount != null" >
        praiseCount,
      </if>
      <if test="treaduserids != null" >
        treadUserIds,
      </if>
      <if test="treadcount != null" >
        treadCount,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleid != null" >
        #{articleid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        now(),
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="praiseuserids != null" >
        #{praiseuserids,jdbcType=VARCHAR},
      </if>
      <if test="praisecount != null" >
        #{praisecount,jdbcType=DECIMAL},
      </if>
      <if test="treaduserids != null" >
        #{treaduserids,jdbcType=VARCHAR},
      </if>
      <if test="treadcount != null" >
        #{treadcount,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kc.demo.model.Comment" >
    update tb_comment
    <set >
      <if test="articleid != null" >
        articleId = #{articleid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="praiseuserids != null" >
        praiseUserIds = #{praiseuserids,jdbcType=VARCHAR},
      </if>
      <if test="praisecount != null" >
        praiseCount = #{praisecount,jdbcType=DECIMAL},
      </if>
      <if test="treaduserids != null" >
        treadUserIds = #{treaduserids,jdbcType=VARCHAR},
      </if>
      <if test="treadcount != null" >
        treadCount = #{treadcount,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kc.demo.model.Comment" >
    update tb_comment
    set articleId = #{articleid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      praiseUserIds = #{praiseuserids,jdbcType=VARCHAR},
      praiseCount = #{praisecount,jdbcType=DECIMAL},
      treadUserIds = #{treaduserids,jdbcType=VARCHAR},
      treadCount = #{treadcount,jdbcType=DECIMAL},
      parentId = #{parentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>