<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kc.demo.dao.CommunityImagesMapper" >
    <resultMap id="BaseResultMap" type="com.kc.demo.model.CommunityImages" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="originalName" property="originalname" jdbcType="VARCHAR" />
        <result column="fileName" property="filename" jdbcType="VARCHAR" />
        <result column="imgType" property="imgtype" jdbcType="VARCHAR" />
        <result column="comQuestionId" property="comquestionid" jdbcType="INTEGER" />
        <result column="comAnswerId" property="comanswerid" jdbcType="INTEGER"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="filePath" property="filepath" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, originalName, fileName, imgType, comQuestionId, comAnswerId, createTime, filePath
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_community_images
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectCommunityImageListByQueId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select
      id, fileName, imgType
      from tb_community_images
      where comQuestionId = #{comquestionid,jdbcType=INTEGER}
      order by id ASC
    </select>
    <select id="selectCommunityImageListByAnsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select
      id, fileName, imgType
      from tb_community_images
      where comAnswerId = #{comanswerid,jdbcType=INTEGER}
      order by id ASC
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_community_images
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.kc.demo.model.CommunityImages" >
    insert into tb_community_images (id, originalName, fileName,
      imgType, comQuestionId, comAnswerId, createTime,
      filePath)
    values (#{id,jdbcType=INTEGER}, #{originalname,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR},
      #{imgtype,jdbcType=VARCHAR}, #{comquestionid,jdbcType=INTEGER}, #{comanswerid,jdbcType=INTEGER},now(),
      #{filepath,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kc.demo.model.CommunityImages" >
        insert into tb_community_images
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="originalname != null" >
                originalName,
            </if>
            <if test="filename != null" >
                fileName,
            </if>
            <if test="imgtype != null" >
                imgType,
            </if>
            <if test="comquestionid != null" >
                comQuestionId,
            </if>
            <if test="comanswerid != null" >
                comAnswerId,
            </if>
            <if test="createtime != null" >
                createTime,
            </if>
            <if test="filepath != null" >
                filePath,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="originalname != null" >
                #{originalname,jdbcType=VARCHAR},
            </if>
            <if test="filename != null" >
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="imgtype != null" >
                #{imgtype,jdbcType=VARCHAR},
            </if>
            <if test="comquestionid != null" >
                #{comquestionid,jdbcType=INTEGER},
            </if>
            <if test="comanswerid != null" >
                #{comanswerid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null" >
                now(),
            </if>
            <if test="filepath != null" >
                #{filepath,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kc.demo.model.ArticleImages" >
        update tb_community_images
        <set >
            <if test="originalname != null" >
                originalName = #{originalname,jdbcType=VARCHAR},
            </if>
            <if test="filename != null" >
                fileName = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="imgtype != null" >
                imgType = #{imgtype,jdbcType=VARCHAR},
            </if>
            <if test="comquestionid != null" >
            comQuestionId = #{comquestionid,jdbcType=INTEGER},
            </if>
            <if test="comanswerid != null">
                comAnswerId = #{comanswerid,jdbcType=INTEGER}
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="filepath != null" >
                filePath = #{filepath,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kc.demo.model.CommunityImages" >
    update tb_community_images
    set originalName = #{originalname,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR},
      imgType = #{imgtype,jdbcType=VARCHAR},
      comQuestionId = #{comquestionid,jdbcType=INTEGER},
      comAnswerId = #{comanswerid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      filePath = #{filepath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>